body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    text-align: center;
    text-shadow: aqua;
  }
button{
    background: linear-gradient(to right, #00AAFF, #00FF6C);	
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    -webkit-text-fill-color: #000000;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;

}

